<p *ngIf="!home" style="text-align: center;">
  It is Free Flow's stated mission to become the most convenient
  and accessible way to bike.

  This mission is served by providing a bike subscription program
  that puts people in touch with community businesses,
  brings down the cost of cycling, gives people a means to travel
  sustainably, and makes communities safer.
</p>

<div *ngIf="!home" class="wrapper" style="text-align: center;">
  <button type="button" class="btn btn-default" style="position: relative; " routerLink="">
    Return Home
  </button>
</div>
